.dialogue-window {
    height: 500px;
    border: 1px solid #ccc; 
    border-radius: 6px;    
    padding: 12px;
    background-color: #fff;
}

.dialogue-box {
    height: 150px;
    border: 1px solid #ccc; 
    border-radius: 6px;    
    padding: 12px;
    background-color: #fff;
}