<h1>Trainers: </h1>

<%= link_to 'New Trainer', new_trainer_path %>
<ul>
    <% @trainers.each do |trainer| %>
    <li>
        <%= link_to trainer.name, trainer_path(trainer) %> - <%= trainer.trainer_type%>
    </li>
    <% end %>
</ul>